/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Grotesk:wght@300..700&display=swap');

/* setting untuk padding/width/height setiap element */
/* simbol asterisk (*) digunakan untuk memilih semua element html */
* {
    box-sizing:border-box;
    font-family: "DM Sans", sans-serif;
}

/* additional setting */
a{
    text-decoration: none;
    color: #003459;
}


/* body html biasanya ada margin/padding */
body{
    margin: 0;
    padding: 0;
}

/* Styling untuk header page dan navbar */
header{
    height: auto;
    min-height: 100vh;
    width: 100%;
    padding: 3rem;
    background: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5rem;
}

.header-right {
    height: 100%;
    width: 50%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right img{
    height: 100%;
}

.header-h1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 15rem;
    font-weight:900;
    font-size:7rem;
    color:#003459;
}

.header-h1-span-2 {
    font-weight: 500;
    width: 100%;
    height: 50%;
}

.header-par {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

@media only screen and (max-width: 1300px) {
    .header-left{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    
    .header-right {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .header-h1 {
        text-align: center;
    }
    
    .header-h1-span-1 {
        width: 100%;
    }

    .header-par{
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .header-h1{
        margin-top: 4rem;
        font-size: 5rem;
    }

    .header-par{
        font-size: 2rem;
    }

    .header-right img{
        height: 20rem;
    }
}

@media only screen and (max-width: 600px) {
    .header-h1{
        margin-top: 7rem;
        font-size: 3rem;
    }

    .header-par{
        font-size: 1rem;
    }

    .header-right img{
        height: 15rem;
    }
}

/* NAVBAR */

nav{
    display: flex;
    justify-content: space-between;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 1rem 3rem;
    z-index: 2;
}

.himti-logo{
    width: 52px;
}

.nav-links {
    font-weight:500;
    font-size: 1.2rem;
    width: 50%;
    max-width: 500px;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: white;
    z-index: 2;
}

.hamburger{
    display: none;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    background: none;
    margin-right: 2rem;
}

@media only screen and (max-width: 877px) {
    .himti-logo{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .nav-links {
        width: 100px;
        height: 100vh;
        margin-left: -100px;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap:1rem;
        padding: 1rem;
        box-shadow: 5px 2px 12px 0px rgba(0,0,0,0.2);
        transition: 0.3s all;
    }

    .nav-links li:first-child {
        display: none;
    }

    .nav-links li {
        width: 100%;
        height:32px;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
    }

    nav{
        padding: 0;
    }
  }

/* polygon */

.pol-1, .pol-2, .pol-3{
    position: absolute;
}

.pol-1{
    right: 0;
    bottom: -150px;
}

.pol-2{
    top: 0;
    right: 600px;
}

.pol-3{
    left: 0;
    bottom: -150px;
}

@media only screen and (max-width: 1300px) {
    .pol-1{
        scale: 0.75;
        right: -45px;
        bottom: -300px;
    }
    
    .pol-2{
        display: none;
    }
    
    .pol-3{
        scale: 0.75;
        left: -50px;
        bottom: -300px;
    }
}

@media only screen and (max-width: 1000px) {
    .pol-1,.pol-3{display: none}
}

/* Styling untuk competition page */
.competition-sect{
    height: auto;
    min-height:100vh;
    width:100%;
    padding: 4rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #808AE7;
}

.compet-title{
    color: white;
    font-size: 4rem;
    font-weight: 700;
    max-width: 1800px;
    width: 100%;
    text-align: left;
}

.cardarrangement{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width:100%;
    max-width: 1800px;
}

.competcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 370px;
    height: 545px;
    border-radius: 10px;
    background: #FFFFFF;
    text-align: center;
    position: relative;
  }
  
  .competcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    justify-content: center;
  }

  .titlecard{
    font-weight: 900;
    font-size: 26px;
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .learnmore{
    background-color: #00A7E1; /* Green */
    border: none;
    color: white;
    padding: 6px 32px;
    display: inline-block;
    font-size: 21px;
    border-radius: 6px;
    font-weight: 600;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .learnmore:hover {
    background-color: #005796;
    transition: 0.4s;
    cursor:pointer;
  }

  @media only screen and (max-width: 1533px) {
    .compet-title{
        text-align: center;
        padding: 2rem 0;
    }
    .cardarrangement{
        justify-content: center;
    }
  }

  @media only screen and (max-width: 844px) {
    .competition-sect{
        padding: 1rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .compet-title{
        font-size: 2.5rem;
    }
    .competcard {
        scale: 0.9
      }
}

/* Styling untuk about dan contact page*/
.about-sect, .contact-sect{
    padding: 1rem 12rem;
    min-height: 100vh;
    width: 100%;
    background: #003459;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-container{
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 50%;
    color: white;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 358px;
}

.about-title {
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.about-description {
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}

.highlight {
    color: white;
    font-weight: 700;
}

.contact {
    padding: 20px 20px;
    color: white;
    width: 100%;
    max-width: 700px;
}

.contact-title{
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.contact p {
    text-align: center;
    max-width: 590px;
    margin: auto;
    margin-bottom: 70px;
    font-size: 20px;
}

.contact form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.contact input[type="text"], input[type="email"] {
    height: 40px;
}

.contact textarea {
    height: 200px;
    resize: none;
}

.contact button {
    width: 200px;
    text-align: center;
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.contact button:hover {
    background-color: #5a4db2;
}

@media only screen and (max-width: 1533px) {
    .about-sect, .contact-sect{
        padding: 1rem 6rem;
    }

    .about-content {
        width: 100%;
        text-align: center
    }
    
    .logo{
        width: 100%;
        margin-bottom: 3rem;
    }
  }

  @media only screen and (max-width: 1000px) {
    .about-content {
        font-size: 2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .about-title {
        font-size: 2.5rem;
    }
    .contact-title{
        font-size: 2.5em;
    }
    .about-content {
        font-size: 1.5rem;
    }
    .logo{
        scale: 0.75;
    }
    .contact {
        padding: 0;
    }
  }

/* Styling untuk footer */

footer{
    height: 300px;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Nunito Sans", serif;
}

.footer-main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-main-images{
    height: 200px;
}

.footer-main-images img{
    height: 90%;
}

.footer-main-socmed {
    width: 200px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-main-socmed img{
    width: 1.75rem;
}

@media only screen and (max-width: 1000px) {
    .footer-main-images{
        height: 150px;
    }

    .footer-main-socmed {
        font-size: 1.2rem;
    }
    
    .footer-main-socmed img{
        width: 1.3rem;
    }
  }

  @media only screen and (max-width: 700px) {
    .footer-main-images{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer-main-socmed {
        width: 100%;
        flex-direction: row;
    }
  }

.footer-copyright{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
  
@media only screen and (max-width: 600px) {
    .footer-main-images{
        height: 100px;
    }

    .footer-main-socmed {
        font-size: 0.75rem;
    }
    
    .footer-main-socmed img{
        width: 1rem;
    }

    .footer-copyright{
        font-size: 1rem;
    }
  }